<ng-container>
  <mat-toolbar color="primary" class="app-header">
    <img class="logo" src="assets/images/logo.png" alt="">
    <span routerLink="">{{APPNAME}}</span>
    <span class="spacer"></span>
    <mat-menu #appMenu="matMenu">
      <button *ngIf="!adalService.userInfo.isAuthenticated" mat-menu-item (click)="logIn()">Login</button>
      <button mat-menu-item>Logout</button>
      <button mat-menu-item>Help</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="appMenu">
      <mat-icon>account_circle</mat-icon>
      <span>{{USER?.profile?.name}}</span>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="app-container">
    <!--*ngIf="adalService.userInfo.isAuthenticated" -->
    <mat-sidenav class="app-sidenav z-depth-2" #sidenav mode="side" opened>
      <mat-nav-list>
        <a mat-list-item matLine routerLink="dashboard" routerLinkActive="active">
          <mat-icon matListIcon>dashboard</mat-icon>
          Dashboard</a>
        <h3 matSubheader>Cases</h3>
        <a mat-list-item matLine matLine routerLink="case" routerLinkActive="active">
          <mat-icon matListIcon>view_list</mat-icon>
          Case List</a>
        <!-- <a mat-list-item matLine routerLink="report" routerLinkActive="active">
          <mat-icon matListIcon>insert_chart</mat-icon>
          Report</a> -->
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet (deactivate)="onDeactivate()"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <!-- <mat-toolbar class="app-footer">
  </mat-toolbar> -->
  <!-- <ng-container *ngIf="!adalService.userInfo.isAuthenticated">
    <div fxLayout="row" class="app-container">
      YOU NEED TO SIGN IN FIRST!!!
    </div>
  </ng-container> -->
</ng-container>
