@import '~@angular/material/theming';
// Import your custom theme
@import '~materialize-css/sass/components/color';
@import 'src/styles';
.app-container {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-sidenav {
  display: flex; // align-items: center;
  // justify-content: center;
  width: 200px; // background: rgba(255, 0, 0, 0.5);
}

.app-header {
  .logo {
    height: 32px;
    margin-right: 5px;
  }
  background-image: url("/assets/images/banner-background.png") !important;
  background-size: cover !important;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.spacer {
  flex: 1 1 auto;
}

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.mat-nav-list {
  width: 100%;
  .mat-subheader {
    color: rgba($color: color("blue", "darken-1"), $alpha: 0.54);
    text-shadow: 0px 1px 1px color("blue-grey", "lighten-3"),
  }
  a.mat-list-item {
    color: color("blue", "darken-1");
    &:hover {
      // color: color("yellow", "darken-1");
      text-shadow: 0px 1px 1px color("blue-grey", "lighten-3"),
    }
    &.active {
      text-shadow: 0px 2px 3px color("blue-grey", "lighten-2"),
    }
  }
}
